/* código do arquivo estilo.css */

header#menu {
    display: block;
    border: 2px solid black;
    padding: 10px;
}

section#corpo {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 10px;
}

aside#lateral {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 10px;
}

footer#rodape {
    clear: both;
    border: 2px solid black;
    padding: 10px;
}

#interface {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
}

body {
    background-color: #808080;
}

/* Media queries para dispositivos com telas menores que 768px */

@media only screen and (max-width: 767px) {
    #interface {
        padding: 10px;
    }
    section#corpo, aside#lateral {
        width: 100%;
        float: none;
    }
}
